//esquema de colores 
$light-blue: #ADDBC1;
$red: #FF5546;

//esquema de tipograqfía
$roboto:'Montserrat', sans-serif;

//tamaño de fuentes 
$x-large: 20px;
$large: 16px;
$medio: 14px;

//peso de fuente 
$bold: 700;
$regular: 400;
$light: 300;
