//esquema de colores 
$light-blue: #ADDBC1;
$red: #FF5546;

//segundo esquema de colores 
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-solver: #a6a5a8;

//esquema de tipograqfía
$roboto:'Montserrat', sans-serif;

//tamaño de fuentes 
$xx-large: 24px;
$x-large: 20px;
$large: 16px;
$medio: 14px;
$small: 12px;

//peso de fuente 
$bold: 700;
$regular: 400;
$extra-light: 200;

